/vagrantfiles/*/*/*/.vagrant/
/vagrantfiles/*/*/*/*/.vagrant/
/vagrantfiles/*/*/*/provisioning/roles
/vagrantfiles/*/*/*/*/provisioning/ansible/roles
/vagrantfiles/*/*/*/*shared*/*
/vagrantfiles/*/*/*/*/*shared*/*