---
- name: Determine Language settings
  win_shell: 'Get-WinSystemLocale | select name'
  register: language_settings
  when:
    - ansible_facts['os_family']|lower == "windows"
  tags:
   - compliance
   - cis

- name: Include variables for OS version (ES)
  include_vars: '{{ item }}'
  with_first_found:
  - "{{ ansible_facts['os_family'] }}_es.yml"
  - default_distro_es.yml
  when: 
   - ansible_facts['os_family']|lower == "windows"
   - "'es-es' in language_settings.stdout|lower"
  tags:
   - compliance
   - cis

- name: Include variables for OS version (EN)
  include_vars: '{{ item }}'
  with_first_found:
  - "{{ ansible_facts['os_family'] }}_en.yml"
  - default_distro_en.yml
  when:
   - ansible_facts['os_family']|lower == "windows"
   - "'es-es' not in language_settings.stdout|lower"
  tags:
   - compliance
   - cis

- name: Include particular variables for the inventory group
  include_vars: '{{ item }}'
  with_first_found:
  - compliant_variables.yml
  - '{{ ansible_limit }}.yml'
  - default_group.yml
  tags: 
   - compliance
   - cis

- name: Center for Internet Security policies (CIS compliant) for Windows Education workstations
  include_tasks: '{{ item }}'
  with_items:
    - access_checks.yml
    - account_policies.yml
    - local_policies.yml
    - system_services.yml
    - windows_defender_firewall.yml
    - personalization.yml
    - administrative_templates.yml
    - complementary_to_cis.yml
  when: >
    ansible_facts['os_family']|lower == "windows" and
    ansible_facts['os_name']|lower == "microsoft windows 10 education"
  tags:
   - compliance
   - cis
