---
# CONFIGURE PAM

- name: CIS, 5.4.1 - Ensure password creation requirements are configured
  lineinfile:
    path: '/etc/pam.d/common-password'
    state: present
    owner: root
    group: root
    mode: "u=rw,g=r,o=r"
    regexp: '^password\s+requisite\s+pam_pwquality.so\s+retry=[0-9]'
    line: 'password requisite pam_pwquality.so retry={{ retry }} minlen={{ minlen }} lcredit={{ lcredit }} ucredit={{ ucredit }} dcredit={{ dcredit }} ocredit={{ ocredit }} difok={{ difok }}'
  tags: ['configuration']

- name: CIS, 5.4.2 - Ensure lockout for failed password attempts is configured
  block:
    - name: pam-tally2 configuration for common-auth
      lineinfile:
        path: '/etc/pam.d/common-auth'
        state: present
        owner: root
        group: root
        mode: "u=rw,g=r,o=r"
        regexp: '^auth\s+required\s+pam_tally2.so\s+'
        line: 'auth required pam_tally2.so onerr=fail audit silent deny={{ max_failed_login_attempts }} unlock_time={{ unlock_timeout }}'
    - name: pam-tally2 configuration for common-account
      lineinfile:
        path: '/etc/pam.d/common-account'
        state: present
        owner: root
        group: root
        mode: "u=rw,g=r,o=r"
        regexp: '{{ param.regexp }}'
        line: '{{ param.line }}'
      loop:
        - regexp: '^account\s+requisite\s+pam_deny.so\s?'
          line: 'account  requisite  pam_deny.so'
        - regexp: '^account\s+required\s+pam_tally2.so\s?'
          line: 'account  required  pam_tally2.so'
      loop_control:
        loop_var: param
  when: (tally2_required|default(True) == True)
  tags: ['configuration']

- name: CIS, 5.4.3 - Ensure password reuse is limited
  lineinfile:
    path: '/etc/pam.d/common-password'
    state: present
    owner: root
    group: root
    mode: "u=rw,g=r,o=r"
    regexp: '^password\s+required\s+pam_pwhistory.so\s+'
    line: 'password required pam_pwhistory.so remember={{ pwd_remember }}'
  tags: ['configuration']

- name: CIS, 5.4.4 - Ensure password hashing algorithm is SHA-512
  lineinfile:
    path: '/etc/pam.d/common-password'
    state: present
    owner: root
    group: root
    mode: "u=rw,g=r,o=r"
    regexp: '^password\s+(\[success=1\s+default=ignore\]|required)\s+pam_unix\.so\s+'
    line: 'password [success=1 default=ignore] pam_unix.so sha512'
  tags: ['configuration']

# Additional: PAM configuration for common-password
- name: Extra - PAM configuration for common-password
  lineinfile:
    path: '/etc/pam.d/common-password'
    state: present
    owner: root
    group: root
    mode: "u=rw,g=r,o=r"
    regexp: '^password\s+requisite\s+pam_cracklib.so\s+retry=[0-9]'
    line: 'password requisite pam_cracklib.so retry={{ retry }} minlen={{ minlen }} lcredit={{ lcredit }} ucredit={{ ucredit }} dcredit={{ dcredit }} ocredit={{ ocredit }} difok={{ difok }}'
  tags: ['configuration']